.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  margin: 0 1.5rem;
  border-top: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
}

.footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.iconHeart {
  filter: var(--icon-heart-filter);
  font-size: 2rem;
  margin: 0 0.2rem;
}
