.container,
.container > :nth-child(2) {
  display: flex;
  flex-direction: column;
}

.container {
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > :first-child {
    // Title
    margin-bottom: 2rem;
  }

  > :nth-child(3) > .actions {
    // Actions
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
  }
}
