$background-gradient-header: linear-gradient(
  0deg,
  var(--primary-color-05) 0%,
  var(--primary-color-30) 100%
);

#app-header {
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;
  width: 100%;

  background: $background-gradient-header;
  transition: top 500ms ease-in-out 200ms;
}

#app-header.hide {
  top: -5rem;
}

#app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
}
