@import "./variables.css";
@import "./fonts/font.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--defaults-fonts);
  font-size: 4vh;
}

html[data-theme="dark-theme"] {
  --background: var(--background-dark-mode);

  --primary-color-base: var(--primary-color-dark-mode-base);
  --primary-color-filter: var(--primary-color-dark-mode-filter);

  --input-text-color: var(--input-text-color-dark-mode);
}

header {
  position: inherit;
  top: 0;
  position: -webkit-sticky;
  background-color: var(--background);
  height: 5.5rem;
  z-index: 999999 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid var(--border-color);

  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a,
*[role="button"] .actions {
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 340px) and (min-width: 5px) {
  header {
    justify-content: center;
  }
}
