@import "./_variables.scss";
@import "./fonts/_font.scss";
@import "./structure.scss";
@import "./pages.scss";
@import "./components.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--defaults-fonts);
  padding-top: 3rem;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */ /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: transparent;
  outline: transparent; /* prevent tap highlight color / shadow */ /* prevent copy paste, to allow, change 'none' to 'text' */
}
