.header {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  padding: 2rem 0 1.5rem 0;
}

.title a {
  color: var(--primary-color);
  text-decoration: none;
}

.title a span {
  position: relative;
  top: -1em;
  left: -0.5em;
  font-size: 0.4em;
}

.iconThings {
  position: relative;
  top: 0.2rem;
}

@media only screen and (max-width: 340px) and (min-width: 5px) {
  .title {
    font-size: 3vh;
  }
}
