.switchTheme div[aria-checked="true"] {
  background-color: var(--primary-color-30);
}

.switchTheme div[aria-checked="true"]:hover {
  background-color: var(--primary-color-50) !important;
}

.switchTheme div[aria-checked="true"] span svg {
  background-color: var(--primary-color-100) !important;
  color: var(--primary-color-button);
}
