.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-top: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  z-index: 999999;
}

.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer div span {
  color: var(--input-text-color);
}

.iconHeart {
  filter: var(--icon-heart-filter);
  font-size: 2rem;
  margin: 0 0.2rem;
}

.by {
  margin-left: 0.2rem;
  font-weight: 500;
  font-family: "Nagoda", var(--defaults-fonts);
}
