.qrCode {
  align-items: flex-start;
  background-color: var(--white-color);
  border-radius: 0.75rem;
  border: 0.25rem solid var(--border-color);
  width: -moz-fit-content;
  width: fit-content;
}

.qrCode :first-child {
  margin: 1em;
}
