.title {
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
}

.title span {
  color: var(--input-text-color);
}

.title :first-child {
  position: relative;
  top: 0.25rem;
  margin-right: 0.8rem;
  font-size: 3rem;
  text-align: center;
}

.title :first-child[data-filter="true"] {
  filter: var(--primary-color-filter);
}

.title :first-child[data-filter="false"] {
  color: var(--primary-color);
  border-radius: 8px;
  background-color: var(--primary-color-20);
}
