@import "./variables.css";
@import "./fonts//font.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--defaults-fonts);
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
